body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url('https://media.myshows.me/shows/0/57/05796a1f18a5af1afe7df6a25c5dfb6b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.video-player {
    text-align: center;
}
video {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}
.episode-list {
    display: flex;
    flex-wrap: wrap;
}
.episode {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.episode:hover {
    background-color: #bdc3c7;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping on small screens */
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  .footer-left {
    text-align: left;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-right {
    text-align: right;
  }
  
  button.btn.btn-primary {
    margin-top: 10px;
  }
  
  /* Responsive behavior for smaller screens */
  @media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
  
    .footer-left, .footer-right {
        margin-bottom: 15px;
    }
  }
  