body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/82/a4/75/82a47526700b03819887b377c6c97818.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

header {
    background-color: #10b0d0;
    color: rgb(29, 29, 29);
    padding: 10px;
    
}
.header-content{
    position: relative; /* Позволяет использовать абсолютное позиционирование для заголовка */
    height: 60px; /* Высота для удобного выравнивания */
}
.home-btn{
    font-size: 12px; 
    padding: 5px 10px;
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
}
.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Центрирование как по горизонтали, так и по вертикали */
}
.container {
    width: 80%;
    margin: 10px ;
    padding: 30px;
}

.video-player {
    text-align: center;
}

video {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.cluster{
    background-color: white;
    text-align: center;
    width: 150px;
    height: 50px auto;
    padding: 5px; 
    border-radius: 8px;
    margin: 10px auto;
}
.btn:hover {
    transform: scale(1.05);
}
.episode-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    
    font-family: Montserrat !important;
    font-size: 15px !important;
    font-weight: bolder !important;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 10px;
    padding: 15px;
    
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #10b0d0;
    color: black;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping on small screens */
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  .footer-left {
    text-align: left;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-right {
    text-align: right;
  }
  
  button.btn.btn-primary {
    margin-top: 10px;
  }
  
  /* Responsive behavior for smaller screens */
  @media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
  
    .footer-left, .footer-right {
        margin-bottom: 15px;
    }
  }
  
