body {
    background-color: #000000 !important;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    
}
header {
    background-color: #362461;
    color: rgb(252, 252, 252);
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.anime-type {
    background-color: rgb(161, 125, 253);
    width: 200px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.anime-type:hover {
    transform: scale(1.05);
}
.anime-type img {
    width: 200px;
    height: 250px;
}
.anime-type h3 {
    background-color: #1a1f11;
    color: white;
    margin: 0;
    padding: 10px;
}
.anime-type p {
    padding: 10px;
    color: #2c3e50;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #362461;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping on small screens */
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.footer-left {
    text-align: left;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

.footer-right {
    text-align: right;
}

button.btn.btn-primary {
    margin-top: 10px;
}

/* Responsive behavior for smaller screens */
@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left, .footer-right {
        margin-bottom: 15px;
    }
}